html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

button{
    font-size: 30px;
}

.gameBoard{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    width:fit-content;
}
.row{
    display: flex;
}
.square,.noshiphit,.shiphit,.shipsunk,.shipplaced{
    width:40px;
    height:40px;
    border: 2px solid black;
    display: inline-block;
}


.noshiphit{
    background-color: rgb(104, 136, 167);
}

.shiphit{
    background-color:rgb(224, 43, 19);
}

.shipsunk{
    background-color: rgb(12, 65, 209);
}
.shipplaced{
    background-color: greenyellow;
}

#Player{
    scale:0.5;
    opacity: 0.8;
    pointer-events: none;
}


#blackbox,#prompt{
    position: absolute;
    visibility: hidden;
}

#blackbox{
    background-color: rgb(26, 113, 170);
    opacity: 0.7;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

#prompt{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:50%;

    background-color: white;
    border:black solid 2px;
    width:fit-content;
    padding:10px;
    border-radius: 15px;
    font-size: 30px;
}